@font-face{
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto-Regular.ttf) format(truetype);
    font-style: normal;
}

$red: hsl(4, 100%, 67%);
$blue800: hsl(234, 29%, 20%);
$blue700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%,58%);
$white: hsl(0, 0%, 100%);

$robotoFont: 'Roboto', sans-serif;
$normalFontSize: 16px;